* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color:#fff;
}

.wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: url(assets/img/bgrnd.jpg) no-repeat center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.content {
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    max-width: 600px;
}

.header-heading {
    text-align: center;
    font-size: 50px;
}

.header-text {
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

.header-heading::after {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
    
.header-heading::before {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.button {
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.button-text {
    font-size: 15px;
    padding: 13px 19px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #fff;
    color: #000;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.image {
    width: auto;
    max-width: 80%;
    display: block;
    margin: 10px auto 10px;
}

.advice {
    max-width: 600px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 30px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-bottom: 5px;
}


@media (max-width: 650px) {
.content {
    padding: 20px;
}

.advice {
    font-size: 26px;
}

.cursor {
    width: 8px;
  }
     
}

@media (max-width: 400px) {

.advice {
    font-size: 20px;
}

.header-heading {
    font-size: 30px;
}

.header-heading::before,  .header-heading::after{
    display: none;
    }
}