* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color:#fff;
}

.wrapper {
    height: 100vh;
    min-height: 100%;
    background: url(assets/img/bgrnd.jpg) no-repeat center;
    background-size: cover;
}

.overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    margin-top: 5px;
}

.header-heading {
    font-size: 50px;
}

.header-text {
    font-size: 18px;
    padding: 15px;
    max-width: 600px;
    text-align: center;
}

.header-heading::after {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
    
.header-heading::before {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.button {
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.button-text {
    font-size: 21px;
    padding: 16px 28px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #fff;
    color: #000;
}
  
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 70vh;*/
}

.image {
    width: 60%;
    display: block;
    margin: 10px auto 10px;
}

.advice {
    max-width: 600px;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 30px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
}


@media (max-width: 650px) {
.content {
    padding: 30px;
}  
     
.image {
    width: 80%;
    margin: 0 auto 40px;
}

.advice {
    font-size: 30px;
}
  
.cursor {
    width: 8px;
}
  
.footer {
    font-size: 12px;
}
}

@media (max-width: 400px) {
.header {
    height: 30vh;
}

.header-heading {
    font-size: 40px;
}

.advice {
    font-size: 20px;
    line-height: 1.3;
}

.header-heading::before,  .header-heading::after{
    display: none;
    }
}

@media (max-width: 305px) {
.header-heading {
    font-size: 34px;
}

.header-text {
    font-size: 17px;
}

.button-text {
    font-size: 24px;
}

.main {
    height: 50vh;
}

.advice {
    font-size: 17px;
    }
}

@media (max-height:800px) {
      
    .header {
      position: absolute;
      top: 36px;
    }

    .advice {
        font-size: 20px;
    }
  
    .image {
      width: 60%;
      margin: 5px auto 5px;
    }
  }

  @media (max-height: 720px) {
    .content {
        padding: 15px;
        justify-content: flex-end;
    }

    .header {
        top: 10px;
        margin-top: 30px
    }
  }